# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


AstronaX_FuBar_Tooltip.png
AstronaX_GUI_Settings_AutoX.png
AstronaX_GUI_Settings_Infos.png
AstronaX_GUI_Settings_Loot.png
AstronaX_Installation_Path.png
AstronaX_Raid_ApplicationWhisper.png
AstronaX_Raid_MemberSearch_Page1.png
AstronaX_Raid_MemberSearch_Page2.png
